{% extends 'common_page.twig' %}
{% block heading %}
    {{ title }}
{% endblock %}
{% block message %}
    <p>На ваш почтовый ящик {{ email }} отправлено письмо с необходимыми данными для восстановления. Оно будет
        действительно только в течении часа.</p>

    <p>Теперь это окно можно закрыть.</p>
{% endblock %}