<div class="panel panel-default tab-pane" id="login">
    <div class="panel-heading">{{ 'index.Login'|trans }}</div>
    <div class="panel-body">
        <form action="dummy.html" method="post" target="dummy" autocomplete="on">
            <p>{{ 'login.Tip'|trans }} <a href="recovery.php"
                                                       target="_blank">{{ 'login.Forgot'|trans }}</a></p>

            <div class="row btn-vert-block form-group">
                <div class="btn-vert-block col-md-6">
                    <input type="text" id="email_place_holder" autocomplete="on"/>
                </div>
                <div class="btn-vert-block col-md-6">
                    <input type="password" id="password_place_holder" autocomplete="on"/>
                </div>
            </div>
            <div class="row btn-vert-block">
                <div class="col-md-12 btn-vert-block">
                    <button type="submit" class="btn btn-success btn-block"
                            id="do-login">{{ 'login.Auth'|trans }}</button>
                </div>
            </div>
        </form>
        <iframe src="dummy.html" name="dummy" style="display: none"></iframe>
    </div>
</div>