html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #E6EAEC;
    color: #5c6a70;
}

code {
    font-family: inherit;
}

#wrapper {
    height: 100%;
}

doesnotexist:-o-prefocus, #wrapper {
    height: 700px;
}

.tab-wrapper {
    height: calc(100% - 130px);
}

#chat {
    height: 100%;
    min-height: 240px;
    position: relative;
}

#chat header {
    background: linear-gradient(to bottom, rgba(230, 234, 236, 1) 0, rgba(230, 234, 236, 0) 100%);
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#00000000', GradientType=0);*/
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    left: 0;
    padding: 30px;
}

.chat-container, .chat-container .panel-body {
    height: 100%;
    background-color: inherit;
}

doesnotexist:-o-prefocus, #panel-chat {
    height: 480px;
}

.panel {
    border-radius: 0;
}
.navbar-cobrand {
    color: #fff;
    float: left;
}

.navbar-cobrand:hover {
    color: #fff;
    text-decoration: none;
}

.navbar-cobrand > a, .navbar-cobrand > span {
    display: block;
    float: left;
}

.navbar-cobrand .glyphicon-cog {
    font-size: 20px;
}

.navbar-left .navbar-cobrand .cog {
    padding: 14px 10px 0px 10px;
    line-height: 20px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.user-avatar {
    width: 36px;
    height: 36px;
    max-width: 36px;
    max-height: 36px;
    display: inline-block;
}

#guests .user-avatar {
    margin-right: 4px;
}

#log .user-avatar {
    margin-left: -48px;
    margin-top: 2px;
    float: left;
}

.user-avatar img {
    width: inherit;
    height: auto;
}

.user-avatar .glyphicon {
    color: #aaa;
    font-size: 36px;
}

#avatar .avatar-placeholder {
    padding: 0;
}

#guests .user-avatar .glyphicon {
    display: inline;
    vertical-align: middle;
}

#guests .no-border-top {
    border-top: none;
}

#log .user-avatar .glyphicon {
    color: #bababa;
}
#charsLeft {
    position: absolute;
    right: 40px;
    top: 0;
    z-index: 5;
    color: #ccc;
    font-size: 10px;
}

.well.message-input {
    margin-bottom: 0;
    background: inherit;
    border: none;
    box-shadow: none;
    padding: 0;
}
.well {
    margin-bottom: 0;
}

.ilb {
    display: inline-block;
}

#log {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
}

#address-reset {
    cursor: pointer;
}

.nickname {
    font-weight: bold;
    color: #4A6799;
    cursor: pointer;
    margin-top: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.rotate {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 3000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 3000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 3000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;

    animation-name: spin;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.system {
    color: #a0a0a0;
    font-size: 12px;
}

#log > div.system {
    margin-left: 0;
}

.private {
    color: #439B43
}

.female {
    color: #A76067;
}

.anonym {
    color: #757575;
}

.male {
    color: #4A6799;
}

.vk {
    position: absolute;
    bottom: 0;
    right: 0;
    width: auto;
}

.vk a {
    display: block;
}

.vk img {
    height: 32px;
    display: block;
}

@media (max-width: 991px) {
    .btn-vert-block + .btn-vert-block {
        margin-top: 10px;
    }
}

.badge {
    background-color: #EEE;
    color: #808080;
}

#log > div {
    word-break: break-word;
    margin-left: 48px;
    margin-top: 5px;
}

#log > div.repeat {
    margin-top: 0;
}

#log > div > div {
    line-height: 1.3em;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#log > div:last-child {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-duration: 0.2s;
    -moz-animation-duration: 0.2s;
    animation-duration: 0.2s;
}

#log .video {
    display: block;
    background: #000 url(/img/play_hover.png) 50% 50% no-repeat;
    background-size: 50%;
    max-width: 240px;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
}

#log .video img {
    opacity: .60;
    max-width: 100%;
    height: auto;
}

#log .music {
    display: block;
    text-decoration: none;
    line-height: 1em;
}

#log .music .glyphicon,
#music .glyphicon {
    font-size: 16px;
}

#log .time {
    float: right;
    color: #aaa;
    font-size: 12px;
    margin-right: 0;
}

#guests td {
    vertical-align: middle;
}

.navbar-left a {
    color: #5c6a70;
    text-decoration: none;
}

.navbar-left .space {
    padding: 10px;
    line-height: 30px;
}

.navbar-left .space .badge {
    border-radius: 4px;
    border: 1px solid #f0f0f0;
    background-color: inherit;
    color: inherit;
}

@media (min-width: 768px) {
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        margin-left: -30px;
    }
}
.navbar-default {
    border: none;
    background-color: inherit;
    margin-bottom: 0;
}

.navbar-default .navbar-brand {
    color: #ffffff;
}
.navbar-default .navbar-brand a {
    font-family: 'Bad Script', cursive;
    font-size: 18px;
    font-weight: bold;
}

.navbar-default .navbar-nav > li > a {
    color: #5c6a70;
    padding: 15px 10px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #5c6a70;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #5c6a70;
    background-color: inherit;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #5c6a70;
    background-color: inherit;
}

.navbar-default .navbar-toggle {
    border-color: inherit;
}


.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #5c6a70;
}


.navbar-default .navbar-toggle {
    border: none;
    padding: 2px 0;
}

.navbar-default .navbar-toggle .glyphicon-collapse-down {
    color: #5c6a70;
    font-size: 24px;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    color: #5c6a70;
    background-color: inherit;
}

.navbar-default .navbar-toggle:hover .glyphicon-collapse-down, .navbar-default .navbar-toggle:focus .glyphicon-collapse-down {
    color: #5c6a70;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffffff;
        background-color: #b17f3a;
    }

    .chat-container {
        margin-bottom: 5px;
    }

    .tab-wrapper {
        height: calc(100% - 95px);
    }

    .navbar-default {
        margin-bottom: 0;
    }

    #wrapper {
        padding-left: 5px;
        padding-right: 5px;
    }

    .message-input .col-xs-2 {
        padding-left: 0;
    }
}

@media (max-width: 480px) {
    #wrapper {
        padding-left: 0;
        padding-right: 0;
    }

    .tab-wrapper {
        height: calc(100% - 95px);
    }

    .navbar-default .navbar-toggle {
        margin-right: 5px;
    }

    .navbar-brand {
        padding: 5px;
        font-size: 14px;
        width: 55px;
        text-align: center;
    }

    .navbar-brand a span {
        display: block;
    }
}

.table > thead > tr > td.active, .table > tbody > tr > td.active, .table > tfoot > tr > td.active, .table > thead > tr > th.active, .table > tbody > tr > th.active, .table > tfoot > tr > th.active, .table > thead > tr.active > td, .table > tbody > tr.active > td, .table > tfoot > tr.active > td, .table > thead > tr.active > th, .table > tbody > tr.active > th, .table > tfoot > tr.active > th {
    background-color: inherit;
}
.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
    background-color: inherit;
}

.form-control, .btn {
    border-radius: 0;
}
.btn-success {
    color: #fff;
    background-color: #5C9CB8;
    border-color: #2595A9;
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
    color: #fff;
    background-color: #C5D4DA;
    border-color: #2EAEC5;
}
.panel {
    background-color: inherit;
    border: none;
    box-shadow: none;
}
.panel-default > .panel-heading {
    background-color: inherit;
    border-color: #aaa;
    color: #5c6a70;
    font-size: 16px;
}
.panel-heading {
    border-radius: 0;
}
.panel-footer {
    background-color: inherit;
    border-top: none;
    border: 0;
}

.pagination > li > a, .pagination > li > span {
    background-color: #C5D4DA;
    border: 1px solid #dadfe1;
    color: #5C9CB8;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    background-color: #C5D4DA;
    border: 1px solid #dadfe1;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus, .pagination > .active > span:focus {
    border-color: #dadfe1;
    background-color: #5C9CB8;
}
.pagination > li:first-child > a, .pagination > li:first-child > span,
.pagination > li:last-child > a, .pagination > li:last-child > span{
    border-radius: 0
}

.img-thumbnail {
    border-radius: 0;
}

#message {
    height: 36px;
    line-height: 1.1em;
    padding: 0.2em;
}

@font-face {
    font-family: 'Bad Script';
    font-style: normal;
    font-weight: 400;
    src: local('Bad Script Regular'), local('BadScript-Regular'), url(badscript.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}