html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: url(../img/lghtmesh.png) 0 0 repeat;
}

code {
    font-family: inherit;
}

#wrapper {
    height: 100%;
}

doesnotexist:-o-prefocus, #wrapper {
    height: 700px;
}

.tab-wrapper {
    height: calc(100% - 165px);
}

#chat {
    height: 100%;
    min-height: 240px;
}

doesnotexist:-o-prefocus, #panel-chat {
    height: 480px;
}

.navbar-cobrand {
    color: #fff;
    float: left;
}

.navbar-cobrand:hover {
    color: #fff;
    text-decoration: none;
}

.navbar-cobrand > a, .navbar-cobrand > span {
    display: block;
    float: left;
}

.navbar-cobrand .glyphicon-cog {
    font-size: 20px;
}

.navbar-left .navbar-cobrand .cog {
    padding: 14px 10px 0px 10px;
    line-height: 20px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.user-avatar {
    width: 36px;
    height: 36px;
    max-width: 36px;
    max-height: 36px;
    display: inline-block;
}

#guests .user-avatar {
    margin-right: 4px;
}

#log .user-avatar {
    margin-left: -48px;
    margin-top: 2px;
    float: left;
}

.user-avatar img {
    width: inherit;
    height: auto;
}

.user-avatar .glyphicon {
    color: #aaa;
    font-size: 36px;
}

#avatar .avatar-placeholder {
    padding: 0;
}

#guests .user-avatar .glyphicon {
    display: inline;
    vertical-align: middle;
}

#guests .no-border-top {
    border-top: none;
}

#log .user-avatar .glyphicon {
    color: #ddd;
}

.chat-container, .chat-container .panel-body {
    height: 100%;
}

.well {
    margin-bottom: 0;
}

.ilb {
    display: inline-block;
}

#log {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
}

#address-reset {
    cursor: pointer;
}

.nickname {
    font-weight: bold;
    color: #4A6799;
    cursor: pointer;
    margin-top: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.rotate {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 3000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 3000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 3000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;

    animation-name: spin;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.system {
    color: #969320;
}

#log > div.system {
    margin-left: 0;
}

#log .private {
    color: #439B43
}

#charsLeft {
    position: absolute;
    right: 40px;
    top: 0;
    z-index: 5;
    color: #ccc;
    font-size: 10px;
}
#message {
    height: 34px;
    line-height: 1.1em;
    padding: 0.2em;
}
.female {
    color: #A76067;
}

.anonym {
    color: #757575;
}

.male {
    color: #4A6799;
}

.vk {
    position: absolute;
    bottom: 0;
    right: 0;
    width: auto;
}

.vk a {
    display: block;
}

.vk img {
    height: 32px;
    display: block;
}

@media (max-width: 991px) {
    .btn-vert-block + .btn-vert-block {
        margin-top: 10px;
    }
}

.badge {
    background-color: #EEE;
    color: #808080;
}

#log > div {
    word-break: break-word;
    margin-left: 48px;
    margin-top: 5px;
}

#log > div.repeat {
    margin-top: 0;
}

#log > div > div {
    line-height: 1.3em;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#log > div:last-child {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-duration: 0.2s;
    -moz-animation-duration: 0.2s;
    animation-duration: 0.2s;
}

#log .video {
    display: block;
    background: #000 url(/img/play_hover.png) 50% 50% no-repeat;
    background-size: 50%;
    max-width: 240px;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
}

#log .video img {
    opacity: .60;
    max-width: 100%;
    height: auto;
}

#log .music {
    display: block;
    text-decoration: none;
    line-height: 1em;
}

#log .music .glyphicon,
#music .glyphicon {
    font-size: 16px;
}

#log .time {
    float: right;
    color: #aaa;
    font-size: 12px;
    margin-right: 0;
}

#guests td {
    vertical-align: middle;
}

#user-details .table td:first-child {
    font-weight: bold;
    width: 33%;
}
.navbar-left a {
    color: #fff;
    text-decoration: none;
}

.navbar-left .space {
    padding: 10px;
    line-height: 30px;
}

.navbar-default {
    background-color: #ed9c28;
    border-color: #b17f3a;
}

.navbar-default .navbar-brand {
    color: #ffffff;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #ffffff;
}

.navbar-default .navbar-text {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff;
    padding: 15px 10px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #b17f3a;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #b17f3a;
}

.navbar-default .navbar-toggle {
    border-color: #b17f3a;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #ed9c28;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ffffff;
}

.navbar-default .navbar-link {
    color: #ffffff;
}

.navbar-default .navbar-link:hover {
    color: #ffffff;
}

.navbar-default .navbar-toggle {
    border: none;
    padding: 2px 0;
}

.navbar-default .navbar-toggle .glyphicon-collapse-down {
    color: white;
    font-size: 24px;
}

.navbar-default .navbar-toggle:hover .glyphicon-collapse-down, .navbar-default .navbar-toggle:focus .glyphicon-collapse-down {
    color: #eee;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffffff;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffffff;
        background-color: #b17f3a;
    }

    .chat-container {
        margin-bottom: 0;
    }

    .tab-wrapper {
        height: calc(100% - 110px);
    }

    .navbar-default {
        margin-bottom: 0;
    }

    #wrapper {
        padding-left: 5px;
        padding-right: 5px;
    }

    .message-input .col-xs-2 {
        padding-left: 0;
    }
}

@media (max-width: 480px) {
    #wrapper {
        padding-left: 0;
        padding-right: 0;
    }

    .tab-wrapper {
        height: calc(100% - 105px);
    }

    .navbar-default .navbar-toggle {
        margin-right: 5px;
    }

    .navbar-brand {
        padding: 5px;
        font-size: 14px;
        width: 55px;
        text-align: center;
    }

    .navbar-brand a span {
        display: block;
    }
}
